# API
PRICING_ENVIRONMENT=local
PRICING_LOG_LEVEL=INFO
PRICING_API_KEY=
PRICING_MODEL_URI=
PRICING_CORS_ORIGINS=["http://localhost:3000"]

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio-secret
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
